## Numerous always-ignore items
Thumbs.db
desktop.ini
nbproject
*.diff
*.err
*.log
*.swp
*.vi
*~
*.sass-cache
*.sublime-workspace
.DS_Store
.cache
.idea
.project
.settings
.tmproj

## Folders to ignore
bower_components
my_resources
node_modules

## Files to ignore
src/index.bundle.js
